/* Inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Navbar */

.navbarImage img {
    width: 40%;
}

.nav-link {
    font-size: 16px;
    font-family: 'Inter';
}

.nav-item {
    margin: 0 auto;
}

.nav-link:hover {
    color: #08f !important;
}

.firstUl {
    width: 100%;
}

.searchDiv {
    width: 80%;
    border-radius: 30px;
}


.searchInput {
    border: transparent !important;
    outline: none !important;
    border-radius: 30px;
}

.searchbtntop {
    border: none;
}

.searchbtntop:hover {
    background-color: transparent;
}

/* First Section */

.FirstSectionMain {
    padding-top: 5%;
}

.FirstSection {
    background-image: url(Assets/bg-1.jpg);
    border-radius: 50px;
    padding-top: 8%;
    padding-bottom: 8%;
    width: 95%;
    margin: 0 auto;
}

.FirstSec_ColTwo_imgDiv {
    width: 100%;
}

.FirstSec_ColTwo_imgDiv img {
    width: 100%;
}

.FirstSection h2 {
    color: white;
    font-size: 54px;
    line-height: 75.6px;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: 'Inter';

}

.FirstSection p {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: white;
    padding-top: 10%;
}

.FirstSec_ColOne {
    padding-left: 6%;
}

.FirstSection h2 span {
    color: #0081f3;
}

.FirstSectionbtnDiv {
    padding-top: 18%;
}

.exploreBtn {
    color: #fff;
    background-color: #08f;
    padding: 13px 30px 13px 30px;
    border-radius: 30px;
    font-family: 'Inter';
}

.exploreBtn:hover {
    color: white;
}

.PromotionBtn {
    color: #0088ff;
    font-family: 'Inter';
    margin-left: 5%;
}

.PromotionBtn:hover {
    color: white;
}

/* Second Section */

.secondSectionMain {
    padding-top: 8%;
    padding-bottom: 8%;
}

.secondSection {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}

.secondSectionImg_div {
    border-radius: 50px;
    width: 80% !important;
    text-align: center;
    cursor: pointer;
}

.secondSectionImg_div img {
    border-radius: 50%;
    width: 90%;

}

.secondSectionImg_div h3 {
    font-size: 16px;
    font-family: 'Inter';
    line-height: 32px;
    font-weight: 700;
}

.secondSectionImg_div div {
    border-radius: 40px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    background-color: #fff;
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -25px;
    position: relative;
}

.secondSectionImg_div:hover div {
    background-color: RGB(2, 37, 84);
    color: white;
    margin-top: -35px;
    cursor: pointer;
    transition: all 0.5s;
}

.ThirdSectionMain {
    width: 95%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 5%;
    box-sizing: border-box;
}

.ThirdSectionColOne {
    width: 80% !important;
    height: 100vh;
    background-image: url(Assets/bg2-1.jpg);
    border-radius: 50px;
    background-repeat: no-repeat;
    margin-right: 3%;
}

.ThirdSectionColOne p {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-align: start;
    color: white;
    padding-top: 20%;
    padding-left: 8%;
}

.ThirdSectionColOne h2 {
    text-align: start;
    color: white;
    width: 50%;
    padding-left: 8%;
    font-size: 46px;
    line-height: 64.4px;
    letter-spacing: -1px;
    font-weight: 800;
    font-family: 'Inter';
}

.ThirdSectionColOne_SecondPara {
    text-align: start;
    color: white;
    padding-left: 8%;
    padding-top: 4% !important;
    width: 50%;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
}

.ThirdSectionColOne_btn {
    color: #08f;
    background-color: #fff;
    padding: 13px 15px 13px 15px;
    margin-top: 30px;
    vertical-align: middle;
    border-radius: 40px;
    width: 25%;
    margin-left: 8%;
    font-weight: 690;
    transition: all 0.5s;
}

.ThirdSectionColOne_btn:hover {
    background-color: #041833;
    color: white;
}

.ThirdSectionColTwo {
    background-image: url(Assets/bg3-1.jpg);
    height: 100vh;
    border-radius: 50px;
    background-size: contain;
}

.ThirdSectionColTwo p {
    font-family: 'Inter';
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-align: start;
    color: white;
    padding-top: 20%;
    padding-left: 8%;
}

.ThirdSectionColTwo h2 {
    text-align: start;
    color: white;
    width: 50%;
    padding-left: 8%;
    font-size: 46px;
    line-height: 64.4px;
    letter-spacing: -1px;
    font-weight: 800;
    font-family: 'Inter';
}

.ThirdSectionColTwo_SecondPara {
    text-align: start;
    color: white;
    padding-left: 8%;
    padding-top: 4% !important;
    width: 50%;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
}

.ThirdSectionColTwo_btn {
    color: white;
    background-color: #08f;
    padding: 13px 15px 13px 15px;
    margin-top: 30px;
    vertical-align: middle;
    border-radius: 40px;
    width: 25%;
    margin-left: 8%;
    font-weight: 690;
    transition: all 0.5s;
}

.ThirdSectionColTwo_btn:hover {
    background-color: white;
    color: #041833;
}

/* Fourth Section */

.checked {
    color: #ffb300;
}

.fourthSectionMain {
    width: 95%;
    margin: 0 auto;
}

.fourthSectionImageDiv {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 60vh;
    border: 1px solid rgba(128, 128, 128, 0.438);
    border-radius: 30px;
}

.fourthSectionImageDiv h2 {
    font-size: 19px;
    line-height: 26.6px;
    letter-spacing: -1px;
    font-weight: 600;
    padding-left: 4%;

}

.fourthSectionImageDiv p {
    padding-left: 4%;
    font-size: 20px;
}

.rating {
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 5%;
}

.fourthSectionImageDiv img {
    width: 90%;
    margin: auto;
}

.viewAllProductDiv {
    width: 95%;
    text-align: center;
    margin: 0 auto;
    padding-top: 6%;
}

.viewAllProduct {
    background-color: #08f;
    padding: 20px 25px 20px 20px;
    color: white;
    font-weight: 650;
    font-family: 'Inter';
    border-radius: 40px;
    width: 60%;
}

.viewAllProduct i {
    font-size: 40px;
    margin-left: 3%;
}

.viewAllProduct:hover {
    color: white;
    background-color: rgb(13, 103, 182);
}

.fifthSectionMain {
    background-image: url(Assets/bg4.jpg);
    height: auto;
    width: 95%;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 10%;
}

.fifthSection {
    background-image: url(Assets/bg4.jpg);
    height: auto;
    width: 95%;
    border-radius: 50px;
    margin: 0 auto;
}

.fifthSectionFirstPara {
    background-color: #022554;
    width: 20%;
    border-radius: 5px;
    text-align: center;
    padding: 5px 2px 5px 2px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Inter';
    color: white;
    margin-left: 8%;
    margin-top: 13%;
}

.fifthSectionHeading {
    font-size: 54px;
    font-family: 'Inter';
    line-height: 75.6px;
    letter-spacing: -1px;
    font-weight: 760;
    color: #022554;
    width: 90%;
    margin-left: 8%;
    padding-top: 5%;
}

.fifthSectionHeading span {
    color: #006fff;
}

.fifthSectionSecondPara {
    margin-left: 8%;
    padding-top: 5%;
    font-family: 'Inter';
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #022554;
}

.fifthSectionbtn {
    color: #fff;
    background-color: #08f;
    padding: 13px 15px 13px 15px;
    margin-left: 8%;
    margin-top: 3%;
    width: 30%;
    border-radius: 25px;
}

.fifthSectionCOlTwo {
    padding-top: 5%;
}

.fifthSectionCOlTwo img {
    width: 100%;
}

.fifthSectionCOlTwo {
    width: 50%;
}

/* Sixth Section */

.SixthSectionMain {
    padding-top: 8%;
    padding-bottom: 10%;
}

.SixthSection {
    width: 95%;
    margin: 0 auto;
}

.SixthSectionColOne h2 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -1px;
    font-weight: 680;
    color: #022554;
    font-family: 'Inter';
}

.SixthSectionColOne span {
    color: #2398ff;
}

.SixthSectionColOne p {
    font-size: 16px;
    line-height: 12.8px;
    font-weight: 400;
    font-family: 'Inter';
    color: #022554b7;
    padding-top: 2%;
    padding-bottom: 8%;
}

.item img {
    width: 90%;
    border-radius: 30px;
}

.item h3 {
    font-size: 24px;
    font-family: 'Inter';
    line-height: 33.6px;
    font-weight: 600;
    letter-spacing: -1px;
    color: #022554;
    padding-top: 5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Seventh Section */

.SeventhSection {
    background-image: url(Assets/bg-1.jpg);
    width: 95%;
    margin: 0 auto;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 5%;
}

.emailDiv {
    background-color: #efffef25;
    border-radius: 30px;
    margin-top: 4%;
    justify-content: space-between;
}

.emailInput {
    width: 70%;
    outline: none;
    background-color: transparent;
    border: transparent;
    padding-left: 5%;
}

.emailInput::placeholder {
    color: rgba(255, 255, 255, 0.534);
}

.Emailbtn {
    font-size: 13px;
    font-weight: 400;
    background-color: transparent;
    background-image: linear-gradient(90deg, #2398ff, #006fd1, #0088ff);
    padding: 21px 35px;
    border-radius: 30px;
    width: 25%;
    color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 136, 255, .21);
}

.SeventhSectionSubDivOne h2 {
    font-size: 42px;
    line-height: 58.8px;
    letter-spacing: -1px;
    font-weight: 800;
    color: white;
}

.SeventhSectionSubDivOne span {
    color: #006fff;
}


.SeventhSectionSubDivOne p {
    color: #efffff9a;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}



/* Footer */

.footerDivOne img {
    width: 60%;
}

.footerDivOnePara1 {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Inter';
    color: #022554;
    padding-top: 10%;
}

.footerDivOnePara2 {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Inter';
    color: #022554;
}

.footerDivOnestrong1 {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Inter';
    color: #022554;
}

.footerDivTwo h4 {
    color: #022554;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -1px;
    font-weight: 670;
    padding-bottom: 18%;
}

.footerDivTwo p {
    font-size: 16px;
    line-height: 20px;
    font-family: 'Inter';
    font-weight: 400;
}

.footerDivTwo p:hover {
    color: #0088ff;
    transform: translateX(5px);
    transition: all 0.5s;
    cursor: pointer;
}

.footerTwo {
    padding: 20px 80px;

}

.footerTwoCol p {
    width: 100%;
    font-size: 14px;
    color: #919191;
}

/* Media Query */

@media (min-width: 576px) {
    .FirstSec_ColTwo_imgDiv {
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    .FirstSec_ColTwo_imgDiv img {
        width: 70%;
    }

    .FirstSectionbtnDiv {
        padding-top: 10%;
    }

    .FirstSection h2 {
        font-size: 54px;

    }

    .FirstSection p {
        padding-top: 5%;
    }
}

@media (max-width: 576px) {
    .FirstSec_ColTwo_imgDiv {
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    .FirstSec_ColTwo_imgDiv img {
        width: 70%;
    }

    .FirstSectionbtnDiv {
        padding-top: 8%;
    }
}

@media (max-width: 472px) {
    .FirstSec_ColTwo_imgDiv {
        display: flex;
        justify-content: center;
        padding-top: 8%;
    }

    .FirstSec_ColTwo_imgDiv img {
        width: 100%;
    }

    .FirstSection h2 {
        font-size: 44px;

    }

    .FirstSection p {
        padding-top: 2%;
    }

    .FirstSectionbtnDiv {
        padding-top: 8%;
    }
}

@media (max-width: 723px) {
    .secondSectionImg_div h3 {
        font-size: 9px;
        font-family: 'Inter';
        font-weight: 400;
    }

    .secondSectionImg_div div {
        border-radius: 30px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
        background-color: #fff;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
        margin-top: -25px;
        position: relative;
    }

    .secondSection {
        display: flex;
        flex-wrap: wrap;
        /* display: block; */
    }
}

@media (max-width: 880px) {
    .secondSectionImg_div h3 {
        font-size: 14px;
        font-family: 'Inter';
        line-height: 30px;
        font-weight: 680;
    }

    .secondSectionImg_div div {
        border-radius: 30px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
        background-color: #fff;
        width: 90%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: auto;
        margin-left: auto;
        margin-top: -25px;
        position: relative;
    }
}

@media (max-width:767px) {
    .secondSectionSub {
        padding-top: 3%;
    }

    .fifthSectionFirstPara {
        width: 100%;
        margin: 0 auto;
        margin-top: 13%;
    }

    .fifthSectionHeading {
        font-size: 40px;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding-top: 5%;
    }

    .fifthSectionSecondPara {
        margin: 0 auto;
        padding-top: 5%;
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }

    .fifthSectionbtn {
        text-align: center;
        margin: 0 auto;
        margin-top: 3%;
        width: 100%;
        border-radius: 25px;
    }

    .fifthSectionCOlTwo{
        margin: 0 auto;
        width: 70%;
        padding-bottom: 10%;
    }

}

@media (max-width:1336px) {
    .ThirdSectionColOne p {
        font-size: 14px;
        font-weight: 400;
        padding-top: 10%;
        padding-left: 8%;
    }

    .ThirdSectionColOne h2 {
        width: 50%;
        padding-left: 8%;
        font-size: 46px;
        line-height: 64.4px;
        font-weight: 800;

    }

    .ThirdSectionColOne_SecondPara {
        padding-left: 8%;
        padding-top: 4% !important;
        width: 70%;
        line-height: 32px;
        font-size: 16px;
        font-weight: 400;
    }

    .ThirdSectionColTwo p {
        font-size: 14px;
        font-weight: 400;
        padding-top: 10%;
        padding-left: 8%;
    }

    .ThirdSectionColTwo h2 {
        width: 50%;
        padding-left: 8%;
        font-size: 46px;
        line-height: 64.4px;
        font-weight: 800;
    }

    .ThirdSectionColTwo_SecondPara {
        padding-left: 8%;
        padding-top: 4% !important;
        width: 70%;
        line-height: 32px;
        font-size: 16px;
        font-weight: 400;
    }


}

@media (max-width:1300px) {
    .viewAllProduct {
        width: 90%;
    }
}

@media (max-width:895px) {

    .ThirdSectionColOne h2 {
        width: 50%;
        padding-left: 8%;
        font-size: 30px;
        line-height: 64.4px;
        font-weight: 800;

    }

    .ThirdSectionColTwo h2 {
        width: 50%;
        padding-left: 8%;
        font-size: 30px;
        line-height: 64.4px;
        font-weight: 800;
    }

    .ThirdSectionColOne_btn {
        padding: 13px 15px 13px 15px;
        margin-top: 30px;
        border-radius: 40px;
        width: 35%;
        margin-left: 8%;
        font-weight: 600;
    }

    .ThirdSectionColTwo_btn {
        padding: 13px 15px 13px 15px;
        margin-top: 30px;
        border-radius: 40px;
        width: 35%;
        margin-left: 8%;
        font-weight: 600;
    }
}

@media (max-width:767px) {
    .fourthSectionImageDiv {
        height: 80vh;
    }
}

@media (max-width: 616px) {
    .ThirdSectionColOne_btn {
        padding: 10px 13px 10px 13px;
        margin-top: 20px;
        border-radius: 20px;
        width: 70%;
        margin-left: 8%;
        font-weight: 600;
    }

    .ThirdSectionColTwo_btn {
        padding: 10px 13px 10px 13px;
        margin-top: 20px;
        border-radius: 20px;
        width: 70%;
        margin-left: 8%;
        font-weight: 600;
    }
}

@media (max-width:600px) {
    .fourthSectionImageDiv {
        height: 70vh;
    }
}


@media (max-width: 549px) {

    .ThirdSectionColOne p {
        font-size: 12px;
        font-weight: 500;
        padding-left: 8%;
    }

    .ThirdSectionColOne h2 {
        width: 50%;
        padding-left: 5%;
        font-size: 20px;
        line-height: 30px;
        font-weight: 800;

    }

    .ThirdSectionColOne_SecondPara {
        padding-left: 8%;
        padding-top: 2% !important;
        width: 100%;
        line-height: 32px;
        font-size: 14px;
        font-weight: 400;
    }

    .ThirdSectionColTwo p {
        font-size: 12px;
        font-weight: 500;
        padding-left: 8%;
    }

    .ThirdSectionColTwo h2 {
        width: 50%;
        padding-left: 5%;
        font-size: 20px;
        line-height: 30px;
        font-weight: 800;
    }

    .ThirdSectionColTwo_SecondPara {
        padding-left: 8%;
        padding-top: 2% !important;
        width: 100%;
        line-height: 32px;
        font-size: 14px;
        font-weight: 400;
    }

    .ThirdSectionColOne_btn {
        padding: 10px 13px 10px 13px;
        margin-top: 20px;
        border-radius: 20px;
        width: 80%;
        margin-left: 8%;
        font-weight: 600;
    }

    .ThirdSectionColTwo_btn {
        padding: 10px 13px 10px 13px;
        margin-top: 20px;
        border-radius: 20px;
        width: 80%;
        margin-left: 8%;
        font-weight: 600;
    }

    .SeventhSectionSubDivOne h2 {
        font-size: 30px;
        line-height: 58.8px;
        letter-spacing: -1px;
        font-weight: 800;
        color: white;
    } 
    
    .SeventhSectionSubDivOne p {
        color: #efffff9a;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
    }

    .SeventhSection {
        background-image: url(Assets/bg-1.jpg);
        width: 100%;
        margin: 0 auto;
        border-radius: 20px;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 5%;
    }
}

@media (max-width: 510px) {
    
    .Emailbtn {
        padding: 21px 5px;  
    }

    .fourthSectionMain{
        padding-top: 5%;
    }

    .fourthSectionImageDiv{
        height: 50vh;
    }

    .footerDivTwo{
        padding-top: 5%;
    }

    .footerTwoCol p{
        font-size: 14px;
        width: 100%;
    }

    .footerTwo {
        padding: 15px 30px;
    
    }
}

@media (max-width: 970px) {  
    .Emailbtn {
        padding: 21px 5px;  
    }
}

@media (max-width: 990px){
    .navbarImage img {
        width: 100%;
    }

    .navbarImage{
        width: 30%;
    }

}

@media (max-width: 300px){
    .fourthSectionMain{
        padding-top: 8%;
    }

    .fourthSectionImageDiv{
        height: 40vh;
    }

    .footerTwoCol p{
        font-size: 10px;
    }

    .footerTwo {
        padding: 10px 20px;
    
    }
}

@media (max-width: 400px){
    .fourthSectionMain{
        padding-top: 5%;
    }

    .fourthSectionImageDiv{
        height: 45vh;
    }

    .footerDivTwo{
        padding-top: 5%;
    }
}